@charset "UTF-8";

/* 回答はここに書いてね */
.content {
  background-color: #eff3f4;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.text {
  font-size: 18px;
  line-height: 22px;
}

.first-image {
  float: left;
  margin-right: 20px;
}

.second-image {
  float: right;
  margin-left: 20px;
}
/* 回答はここに書いてね */
