@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-text {
  float: left;
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
}

.float-text:first-child{
  float: left;
  width: 225px;
  margin-left: 0;
}

.display-boxes {
  display: table;
}

.display-box {
  display: table-cell;
  width: 225px;
  padding-left: 50px;
}

.display-box:first-child {
  padding-left: 0;
  vertical-align: middle;
}

.inline-block-box {
  font-size:0;
}

.inline-block-text {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
  font-size: 16px;
}

.inline-block-text:first-child {
  margin-left: 0;
}

.flex-text-box {
  display: flex;
  justify-content: space-around;
}

.flex-text {
  width: 225px;
  margin-left: 20px;
}

.flex-text:first-child {
  margin-top: 50px;
  margin-left: 0;
}

.box-left {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  font-size: 0;
}

.text-left {
  font-size: 16px;
}

.box-right {
  display: inline-block;
  margin-left: -344.5px;
  padding-left: 390px;
  box-sizing: border-box;
  width: 103%;
  font-size: 0;
}

.text-right {
  font-size: 16px;
  padding: 20px;
}

/* 回答はここに書いてね */
