@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-text {
  float: left;
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
}

.float-text:first-child{
  float: left;
  width: 225px;
  margin-left: 0;
}

.display-boxes {
  display: table;
}

.display-box {
  display: table-cell;
  width: 225px;
  padding-left: 50px;
}

.display-box:first-child {
  padding-left: 0;
  vertical-align: middle;
}

.inline-block-box {
  font-size:0;
}

.inline-block-text {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
  font-size: 16px;
}

.inline-block-text:first-child {
  margin-left: 0;
}

.flex-text-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
}

.flex-text {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.box-state {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.box_text {
  font-size: 16px;
}

.box-flex {
  display: inline-block;
  width: 100%;
  margin-left: -304.5px;
  padding-left: 350px;
  box-sizing: border-box;
}

/* 回答はここに書いてね */
