@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left-text {
  float: left;
  width: 225px;
  box-sizing: border-box;
}

.float-right-text {
  float: left;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
}

.display-boxes {
  display: table;
}

.display-box {
  display: table-cell;
  width: 225px;
  padding-left: 50px;
}

.display-box:first-child {
  padding-left: 0;
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
  vertical-align: middle;
  font-size: 16px;
}

.inline-block:first-child {
  margin-left: 0;
}

/* 回答はここに書いてね */
