@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  background-color: #eff3f4;
  padding: 20px;
}

.content {
  width: 100%;
  text-align: center;
  margin-top: 0;
  table-layout: fixed;
  display: table;
}

.content:first-child {
  padding-bottom: 20px;
}

.fixed-salmon-pink {
  width: 100px;
  background-color: #fdc8bc;
  display: table-cell;
  padding: 20px 0;
}

.variable-pink {
  background-color: #e0abd9;
  display: table-cell;
}

.fixed-blue {
  background-color: #b6d8ed;
  width: 100px;
  display: table-cell;
}

.variable-yellow {
  background-color: #e5d32e;
  display: table-cell;
  padding: 20px;
}

.variable-red {
  background-color: #ec8f9a;
  display: table-cell;
}

.fixed-green {
  background-color: #8fdcad;
  width: 500px;
  display: table-cell;
}
/* 回答はここに書いてね */
