@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  background-color: #eff3f4;
  padding: 20px;
}

.content {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  table-layout: fixed;
  display: table;
}

.content:first-child {
  margin-top: 0;
}

.content-box {
  display: table-cell;
}

.fixed-salmon-pink {
  width: 100px;
  background-color: #fdc8bc;
  padding: 20px 0;
}

.variable-pink {
  background-color: #e0abd9;
}

.fixed-blue {
  background-color: #b6d8ed;
  width: 100px;
}

.variable-yellow {
  background-color: #e5d32e;
  padding: 20px;
}

.variable-red {
  background-color: #ec8f9a;
}

.fixed-green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */

/* table-cell は共通クラスでまとめる */
/* 三つ目が来た時にも隙間ができるように */
/* first:child margin 0 */
/* contern margin-top 20px */
