@charset "UTF-8";

/* 回答はここに書いてね */
.speech-bubble-area {
  width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  border: solid 5px #222;
  position: relative;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
}

.speech-bubble-area::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 86%;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #222 transparent transparent
}

.speech-bubble-area::after {
  content: "";
  position: absolute;
  top: 95%;
  right: 86%;
  border-style: solid;
  border-width: 26px 25px 0px 25px;
  border-color: #ffffff transparent transparent;
}

/* 回答はここに書いてね */
