@charset "UTF-8";

/* 回答はここに書いてね */

.boxes {
  background-color: #eff3f4;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

.number-box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box8 {
  background-color: #EE82EE;
  top: 120px;
  left: 120px;
  z-index: 6;
}

.box5 {
  background-color: #20B2AA;
  left: 200px;
  bottom: 40px;
  z-index: 3;
}

.box1 {
  background-color: #FFFACD;
  left: 200px;
  top: 40px;
}

.box7 {
  background-color: #F4A460;
  left: 40px;
  top: 200px;
  z-index: 5;
}

.box4 {
  background-color: #8B4513;
  right: 120px;
  bottom: 120px;
  z-index: 2;
}

.box6 {
  background-color: #FFFFE0;
  left: 120px;
  bottom: 120px;
  z-index: 4;
}

.box2 {
  background-color: #6495ED;
  right: 120px;
  top: 120px;
}

.box3 {
  background-color: #E0FFFF;
  right: 40px;
  top: 200px;
  z-index: 1;
}

.box9 {
  background-color: #4169E1;
  position: fixed;
  top: 10px;
  left: 10px;
}

.box8::after {
  content: "";
  background-color: #FFFACD;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 80px;
  top: 0px;
}
/* 回答はここに書いてね */
