@charset "UTF-8";

/* 回答はここに書いてね */

table {
  width: 100%;
  table-layout: fixed;  
}

th {
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  padding: 10px;
  border: 1px solid #dce0e1;
}

tr:nth-child(even) {
  background-color: #ecf1f2;
}

td {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #181515;
  border: 1px solid #dce0e1;
}

tbody tr:last-child {
  border-top: dashed 2px #000; 
}


/* 回答はここに書いてね */
