@charset "UTF-8";

/* 回答はここに書いてね */

  
  .transition-box {
    margin: 0 auto;
    width: 500px;
    height: 330px;
    overflow: hidden;
    /* background: #000; */
    background-color: rgba(0,0,0,8);
    position: relative;
  }

  .transition-image:hover {
    transform:scale(1.5,1.5);
    transition-duration: 0.5s;
    opacity: 0.6;
  }

  .article {
    position: absolute;
    line-height: 16px;
    font-size: 16px;
    bottom: -60px;
    left: 0;
    height: 40px;
    transition: .3s;
    padding: 20px;
    color: #ffffff;
  }

  .transition-box:hover .article {
    bottom: 65px;
  }
  
/* 回答はここに書いてね */

