@charset "UTF-8";

/* 回答はここに書いてね */

  .transition-box {
    margin: 0 auto;
    width: 500px;
    height: 333px;
    overflow: hidden;
    background: #000;
    background-color: rgba(0,0,0,0);
    position: relative;
    line-height: 16px;
    font-size: 16px;
    
  }

  .transition-image:hover {
    transform:scale(1.5,1.5);
    transition-duration: 0.5s;
    opacity: 0.6;
    line-height: 16px;
    font-size: 16px;
  }

  .transition-box:hover {
    /* background-color: #000; */
    /* background: -webkit-linear-gradient rgba(to top, 0, 0, 0, 0); */
  }

  .article {
    position: absolute;
    bottom: -20%;
    left: 0;
    height: 40px;
    transition: .3s;
    padding: 20px;
    color: #ffffff;
  }

  .article p {
    word-break: break-all
  }

  .transition-box:hover .article {
    bottom: 21.5%;
  }

  .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 10px #ecf1f2;
    border-top-color: #00bcdf;
    margin: 0 auto;
    animation: spin 1.1s linear infinite;
  }

  @keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

/* 回答はここに書いてね */

